/* @import "setup/vars.css"; */
/* BASE */
/* @import "basics/base.css";
@import "basics/helpers.css";
@import "basics/layout.css"; */

/* COMPONENTS */
/* @import "components/header.css";
@import "components/search.css";
@import "components/main-content.css"; */

/* VARS */
:root {
  --clr1: #ff7f00;
  --clr2: #e3e3e3;
  --clr3: #fff;
  --clr4: #7a7a7a;
  --clr5: #8a8a8a;
  --clr6: #040a2c;
}
/* BASE */
* {
  box-sizing: border-box;
}
html {
  font-family: "montserrat", sans-serif;
}
body {
  margin: 0;
}
.main-content {
  display: block;
}
.logo img {
  width: 8rem;
  height: 1.5rem;
}
.top-header .nav-bar > * {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
.top-header .nav-bar li:not(:last-child) {
  border-inline-end: 1px solid var(--clr5);
}

.grid-gallery > a > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.grid-gallery > a > img:hover {
  transform: scale(1.01);
}
li > a {
  text-decoration: none;
  color: var(--clr3);
  padding-bottom: 0.45rem;
}
li > a:hover {
  color: var(--clr6);
  box-shadow: inset 0px -4px 0px var(--clr6);
  transition: 0.3s;
}
.about-img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin-inline-end: 5rem;
}

.footer img {
  margin-block-end: 1rem;
  width: 8rem;
  height: 1.5rem;
}
small {
  color: var(--clr3);
  font-size: 20px;
  letter-spacing: 0.2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
}

/* HELPERS */
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.column {
  flex-direction: column;
}
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 11px 10.5px;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9";
  padding: 13.5px 25px;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}
/* LAYOUTS */
.main-layout {
  padding-inline-start: 1.5625rem;
  padding-inline-end: 1.5625rem;
}
.grid-container {
  background-color: var(--clr2);
}

.grid-about {
  display: grid;
}
/* COMPONENTS */

/* header */
.top-header {
  width: 100%;
  background-color: var(--clr1);
}
.header-container {
  height: 33px;
}

/* search */
.search-line {
  height: 66px;
}
.search-line input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr6);
}

/* main content */

.about {
  width: 70%;
  margin: auto;
  margin-block-start: 10rem;
  margin-block-end: 11rem;
  font-size: 1.2rem;
} /* on mobile need to make it wider */
.about-content {
  display: flex;
  flex-direction: column;
}
/* footer */
.footer {
  background-color: var(--clr1);
  height: 230.5px;
  width: 100%;
  padding-block-start: 5rem;
}
.about-icons > * {
  font-size: 2.2rem;
  margin-inline-start: 0.7rem;
  color: var(--clr1);
}
/*main editor */
.canvas-editor {
  width: 100%;
  display: none;
}
.main-editor {
  /* display: none; */
  height: 71.1vh;
  background-color: var(--clr2);
}
.canvas-container {
  border: 1px solid red;
  width: 50%;
}
.editor-container {
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
}
.editor-container > * {
  /* border: 1px solid red; */
  width: 50%;
  margin: 1rem auto;
}

.editor-container button {
  width: 60px;
  height: 60px;
  position: relative;
  padding: 0;
  border-radius: 10px;
  background-color: var(--clr3);
  border: none;
  cursor: pointer;
}
.editor-container button img {
  height: 19px;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.text-input {
  display: block;
  height: 6rem;
  width: 60%;
  border-radius: 10px;
  outline: none;
  border: none;
}
.btn {
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 60px;
  background-color: #fff;
  text-decoration: none;
  color: var(--clr6);
  border-radius: 10px;
  font-family: montserrat, sans-serif;
  padding-top: 0.8rem;
}

select {
  border: none;
  border-radius: 10px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: montserrat, sans-serif;
}
button.font-color img {
  margin-top: -5rem;
  position: relative;
}
.font-color input[type="color"] {
  background-image: url("/icons/paint-board-and-brush.png");
  /* opacity: 0; */
  position: relative;
  /* margin-bottom: 60px; */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    margin-block-end: 3rem;
  }
  .main-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .editor-container {
    width: 100%;
    background-color: var(--clr5);
  }
  .editor-container > * {
    /* border: 1px solid red; */
    width: 100%;
    /* margin: 1rem auto; */
  }
  footer {
    margin-block-start: 110%;
  }
  .top-button > * {
    margin-inline-start: 5rem;
  }
  #my-canvas {
    width: 100%;
    /* overflow: auto; */
  }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  #my-canvas {
    width: 400px;
    height: 400px;
    margin-inline-start: 2rem;
  }
  .editor-container {
    width: 100%;
    margin-inline-end: 3rem;
  }
}
