/* @import "setup/vars.css"; */
/* BASE */
/* @import "basics/base.css";
@import "basics/helpers.css";
@import "basics/layout.css"; */

/* COMPONENTS */
/* @import "components/header.css";
@import "components/search.css";
@import "components/main-content.css"; */

/* VARS */
:root {
  --clr1: #ff7f00;
  --clr2: #e3e3e3;
  --clr3: #fff;
  --clr4: #7a7a7a;
  --clr5: #8a8a8a;
  --clr6: #040a2c;
}
/* BASE */
* {
  box-sizing: border-box;
}
html {
  font-family: "montserrat", sans-serif;
}
body {
  margin: 0;
}
.logo img {
  width: 8rem;
  height: 1.5rem;
}
.top-header .nav-bar > * {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
.top-header .nav-bar li:not(:last-child) {
  border-inline-end: 1px solid var(--clr5);
}

.grid-gallery > a > img {
  width: 100%;
  height: 100%;
}
li > a {
  text-decoration: none;
  color: var(--clr3);
  padding-bottom: 0.45rem;
}
li > a:hover {
  color: var(--clr6);
  box-shadow: inset 0px -4px 0px var(--clr6);
  transition: 0.3s;
}
.about-img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

/* HELPERS */
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.wrap {
  flex-wrap: wrap;
}
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 11px 10.5px;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9";
  padding: 13.5px 25px;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}
/* LAYOUTS */
.main-layout {
  padding-inline-start: 1.5625rem;
  padding-inline-end: 1.5625rem;
}
.grid-container {
  background-color: var(--clr2);
}
/* COMPONENTS */

/* header */
.top-header {
  width: 100%;
  background-color: var(--clr1);
}
.header-container {
  height: 33px;
}

/* search */
.search-line {
  height: 66px;
}
input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr6);
}

/* main content */
.main-content {
  /* background-color: var(--clr2); */
}
/* footer */
.footer {
  /* background-color: var(--clr1);
  height: 103.5px;
  width: 100%; */
}
